.ticket {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 184px;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &__header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    // border: 1px solid red;

    span {
      font-family: 'Open Sans';
      font-style: normal;
      font-size: 24px;
      line-height: 24px;
      color: #2196f3;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 20px;
  }
}
